/* common body styles */
body {
  color: #21243d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles*/
.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.7;
}

.big-title {
  padding-bottom: 6px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 40px;
}

.section-link {
  position: absolute;
  top: 40px;
  right: 15px;

  color: #00a8cc;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.2;
}

.section-subtitle {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
}

.article-text {
  display: block;
  margin-bottom: 24px;

  font-weight: 500;
  color: #8695a4;
}

/* header styles */
.header {
  font-weight: 500;
  line-height: 1.2;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: block;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-link {
  display: block;
  padding: 38px 0;
}

.header-link:hover,
.header-link:focus {
  color: #ff6464;
}

/* hero styles */
.hero-container {
  display: flex;
  align-items: center;
}
.hero-wrapper {
  max-width: 548px;
  padding: 62px 0;
  margin-right: 24px;
  gap: 24px;
}

.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  animation: slide-right 1000ms ease-out 100ms backwards;
}

/* text animation*/
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.title-top {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.title-bottom {
  display: block;
}

.hero-text {
  margin: 24px 0;
  animation: slide-to-top 1000ms ease-out 1100ms backwards;
}

@keyframes slide-to-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-button {
  padding: 3px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.22;
  text-align: center;
  color: #ffffff;
  background-color: #ff6464;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  animation: bounce-in-fwd 1100ms 2100ms both;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border-color 300ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  color: #ff6464;
  background-color: #ffffff;
  border-color: #ff6464;
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.hero-thumb {
  position: relative;
  width: 243px;
  height: 243px;
  animation: slide-left 1000ms ease-out 100ms backwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(33, 36, 61, 0.7);
  animation: bg-slide 1800ms ease-out 1100ms both;
}

@keyframes bg-slide {
  from {
    transform: translate(0);
    opacity: 0;
  }
  to {
    transform: translate(-9px, 12px);
    opacity: 1;
  }
}

.hero-picture {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* posts styles */
.posts {
  background-color: #edf7fa;
}

.posts-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  gap: 24px;
}

.article {
  padding: 16px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

/* features styles */
.features-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}

.features-list {
  gap: 6px;
}

.features-item {
  display: flex;
  padding: 24px 8px 24px 0;
  gap: 32px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
}

.features-picture {
  border-radius: 0px;
}

.features .section-subtitle {
  margin-bottom: 12px;
}

.features-text {
  margin-bottom: 28px;
}

/* footer styles */
.footer {
  background-color: #ffffff;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding: 32px 15px 0;
}
.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.footer-link {
  display: block;
  padding: 16px 0;
}
.footer-icon {
  stroke: #678398;
  fill-opacity: 0;
}

.copyright {
  display: block;
  margin-bottom: 75px;
  color: #678398;
}

/* blog styles */
.blog-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.article-box {
  padding-bottom: 16px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
}

.blog-article {
  padding: 16px;
}
